<div class="container-fluid fill-height">
    <div class="profile-banner-bg"></div>
    <div class="col-md-12 banner-text">
        <h3> Basic Settings - [Conference] </h3>
    </div>
    <div class="col-md-12 description-field">
        <p>Configure the fields below as you would like them to appear on the mobile app for conference attendees.</p>
    </div>
    <md-grid-list cols="2" rowHeight="fit">
        <md-grid-tile colspan="2">
            <div class="padded">
                <md-card>
                    <h3>General Information</h3>
                    <div class="crow">
                        <div class="col-md-3">
                            <p class="field-title">Conference Name</p>
                        </div>
                        <div class="col-md-9">
                            <md-input-container>
                                <input mdInput
                                [(ngModel)]="conferenceName"
                                placeholder="name">
                            </md-input-container>
                        </div>
                    </div>
                    <div class="crow">
                        <div class="col-md-3">
                            <p class="field-title">Location</p>
                        </div>
                        <div class="col-md-9">
                            <md-input-container>
                                <input mdInput
                                [(ngModel)]="location"
                                placeholder="location">
                            </md-input-container>
                        </div>
                    </div>
                    <div class="crow">
                        <div class="col-md-3">
                            <p class="field-title">Logo</p>
                        </div>
                        <div class="col-md-3">
                            <div class="btn btn-default upload-overlay">
                                UPLOAD
                                <input id="uploader-input" 
                                type="file" 
                                ng2FileSelect 
                                [uploader]="uploader"
                                (change)="uploader.uploadAll()"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img *ngIf="imgUrl !== ''" id="logo-preview"
                            [src]="imgUrl">
                            <img *ngIf="imgUrl === ''" id="logo-preview" 
                            src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Logo&w=150&h=150"/>
                        </div>
                        <button md-raised-button
                            id="save-button"
                            color="primary"
                            (click)="saveGeneralContent()">
                            Save
                        </button>
                    </div>
                </md-card>
            </div>
        </md-grid-tile>
        <md-grid-tile>
            <div class="padded">
                <md-card>
                    <h3>Conference Dates</h3>
                    <div class="crow">
                        <div class="col-md-6">
                            <p class="field-title">Dates of event</p>
                        </div>
                        <div class="col-md-6">
                            <md-input-container class="date-picker">
                                <input mdInput type="date">
                            </md-input-container>
                            <span class="middle">to</span>
                            <md-input-container class="date-picker">
                                <input mdInput type="date">
                            </md-input-container>
                        </div>
                    </div>
                    <hr />
                    <div class="crow">
                        <div class="col-md-6">
                            <p class="field-title">Operating hours</p>
                        </div>
                        <div class="col-md-6">
                            <md-input-container class="time-picker">
                                <input mdInput type="time">
                            </md-input-container>
                            <span class="middle">to</span>
                            <md-input-container class="time-picker">
                                <input mdInput type="time">
                            </md-input-container>
                        </div>
                    </div>
                </md-card>
            </div>
        </md-grid-tile>
        <md-grid-tile>
            <div class="padded">
                <md-card>
                    <h3>CLT Secrets</h3>
                    <div class="crow">
                        <div class="col-md-6">
                            <p class="field-title">Conference ID</p>
                        </div>
                        <div class="col-md-6">
                            <md-input-container>
                                <input mdInput [disabled]="true" value="SeniorDesign-a1bef">
                            </md-input-container>
                        </div>
                    </div>
                    <div class="crow">
                        <div class="col-md-6">
                            <p class="field-title">Exhibitor List</p>
                        </div>
                        <div class="col-md-6">
                            <button md-button color="primary" class="view-exhibitors-button"
                                [routerLink]="['org','profile','exhibitors']">
                                View
                            </button>
                        </div>
                    </div>
                </md-card>
            </div>
        </md-grid-tile>
    </md-grid-list>
</div>