<ng-template #modalContent let-close="close">
    <div class="modal-header">
        <h2 class="modal-title">Add new exhibitor</h2>
        <button type="button" class="close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="crow">
            <div class="col-md-4">
                <h3>Email<sup>*</sup></h3>
            </div>
            <div class="col-md-8">
                <md-input-container>
                    <input mdInput #email/>
                </md-input-container>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="submit" type="button" class="btn btn-secondary" (click)="close(email.value)">OK</button>
    </div>
</ng-template>

<div class="container-fluid fill-height">
    <div class="profile-banner-bg"></div>
    <div class="col-md-12 banner-text">
        <h3> Exhibitor List - [Conference] </h3>
    </div>
    <div class="col-md-12 no-pad">
        <md-card>
            <div class="description-field">
                <p> In order for exhibitors to log in and customize their module within the mobile app, you'll need to give them access. You'll also be able to view an exhibitors information here and make your own changes.</p>
            </div>
        </md-card>
    </div>
    <div class="btn btn-default add-exhib" (click)="addExhibitor()">
        ADD EXHIBITOR
    </div>
    <div class="col-md-12 no-pad table-view">
        <md-card>
            <md-spinner id="spinner" *ngIf="loadingExhibitors"></md-spinner>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Name</th>
                        <th>Company</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-template ngFor let-xb [ngForOf]="exhibitors" let-idx="index">
                        <tr (click)="toggleHidden(idx)"
                            class="accordion-toggle">
                            <td>{{ xb.email }}</td>
                            <td *ngIf="xb.name !== ''">{{ xb.name }}</td>
                            <td *ngIf="xb.name === ''">-</td>
                            <td *ngIf="xb.company !== ''">{{ xb.company }}</td>
                            <td *ngIf="xb.company === ''">-</td>
                            <td *ngIf="completeUser(xb)">Complete</td>
                            <td *ngIf="!completeUser(xb)">Incomplete</td>
                        </tr>
                        <tr>
                            <td colspan="4" class="hiddenRow">
                                <div class="accordian-body collapse" 
                                    [ngbCollapse]="isCollapsed(idx)">
                                    Edit
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </tbody>
            </table>
        </md-card>
    </div>
</div>