@import 'shared.scss';
.fill-height {
    height: 80vh;
}
table {
    margin-top: 0;
    border-collapse: collapse;
    th {
        color: #1b1b1b;
    }
}
button {
    margin: 10px 0;
}
.hiddenRow {
    padding: 0 !important;
}