h1 {
    line-height: 75px;
    margin: 0;
    cursor: pointer;

    @media screen and (max-width: 1300px) {
        line-height: 60px;
    }
}
button {
    /* override material style of color: #fff */
    color: black !important;
}
#profile-wrapper {
    position: absolute;
    top: 75px;
    left: 0;
    background: _palette(bg);
    height: calc(100% - 75px);
    width: 100%;
    z-index: 10;
    overflow-y: auto;

    @media screen and (max-width: 1300px) {
        top: 60px;
        height: calc(100% - 60px);
    }
}
.overlay-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
}
md-card {
    height: 100%;
    padding: 0;
}
.content-view {
    min-height: 100%;
    padding-bottom: 50px;
    padding-top: 25px;
    background-color: #E5E5E5;
    .container-fluid {
        height: 100%;   
    }
}
#nav {
    position: fixed;
    width: 300px;
    margin-left: 15px;

    .nav-content {
        background-color: white;

        button {
            width: 100%;
            border-bottom: 1px solid grey;
            font-size: 12px !important; 
            padding-top: 10px;
            padding-bottom: 10px;
            line-height: 20px;
        }
    }

    @media screen and (max-width: 1300px) {
        width: 220px;
    }
}
#primary {
    width: calc(100% - 400px);
    margin-left: 350px;
    position: relative;
    min-height: 100%;

    @media screen and (max-width: 1300px) {
        width: calc(100% - 300px);
        margin-left: 265px;
    }
}

/* change z-index of header for the profile page */
/deep/ #header {
    z-index: 1;
}