<div class="container-fluid fill-height">
    <div class="profile-banner-bg"></div>
    <div class="col-md-12 banner-text">
        <h3> Mobile app news - [Conference] </h3>
    </div>
    <div class="col-md-12 no-pad">
        <md-card>
            <div class="description-field">
                <p> News item below reflect what the user will see when first launching your conferences mobile app. Add and remove news items here.</p>
            </div>
        </md-card>
    </div>
    <div class="col-md-12 tool-bar no-pad">
        <button md-button color="primary">
            Add New Item
        </button>
    </div>
    <div class="col-md-12 news-item no-pad" *ngFor="let item of news">
        <md-card>
            <div class="edit-bar pull-right">
                <span id="edit">Edit</span>
                <i class="fa fa-trash" aria-hidden="true"></i>
            </div>
            <div class="col-md-3">
                <div class="logo">
                </div>
            </div>
            <div class="col-md-9">
                <h3>{{ item.title }}</h3>
                <div class="line-break"></div>
                <p>{{ item.text }}</p>
            </div>
            <p class="author">{{ item.author }}</p>
        </md-card>
    </div>
</div>