<div class="overlay-header">
    <div class="container-fluid">
        <h1 [routerLink]="''">
            Convention Logistics Tracker
        </h1>
    </div>
</div>
<div id="profile-wrapper">
    <div class="content-view">
        <div class="container-fluid">
            <div id="nav">
                <md-card>
                    <div class="nav-content">
                        <button md-button [routerLink]="'basic'">
                            Basic Settings
                        </button>
                        <button md-button [routerLink]="'map'">
                            Floor Plan
                        </button>
                        <button md-button [routerLink]="'exhibitors'">
                            Exhibitors
                        </button>
                        <button md-button [routerLink]="'schedule'">
                            Schedule
                        </button>
                        <button md-button [routerLink]="'news'">
                            News
                        </button>
                        <button md-button [routerLink]="'notify'">
                            Push Notifications
                        </button>
                        <button md-button>
                            Billing
                        </button>
                    </div>
                </md-card>
            </div>
            
            <div id="primary">
                <md-card>
                    <router-outlet></router-outlet>
                </md-card>
            </div>
            
        </div>
    </div>
</div>