<ng-template #content>
    <div class="modal-header">
        <h2 class="modal-title">New Exhibitor</h2>
        <!--<button type="button" class="close pull-right" aria-label="close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>-->
    </div>
    <div class="modal-body">
        <p>To add an exhibitor to your conference, enter their information below:</p>
    </div>
    <div class="modal-footer">
        <!--<button type="button" md-button color="primary" class="add" (click)="c('Close click')">
            Add
        </button>-->
    </div>
</ng-template>
<div class="container-fluid fill-height">
    <div class="profile-banner-bg"></div>
    <div class="col-md-12 banner-text">
        <h3> Exhibitor List - [Conference] </h3>
    </div>
    <div class="col-md-12 no-pad">
        <md-card>
            <div class="description-field">
                <p> In order for exhibitors to log in and customize their module within the mobile app, you'll need to give them access. You'll also be able to view an exhibitors information here and make your own changes.</p>
            </div>
        </md-card>
    </div>
    <button md-button color="primary" (click)="addExhibitor(content)">
        Add Exhibitor
    </button>
    <div class="col-md-12 no-pad table-view">
        <md-card>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Company</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-template ngFor let-xb [ngForOf]="tempData" let-idx="index">
                        <tr (click)="toggleHidden(idx)"
                            class="accordion-toggle">
                            <td>{{ xb.name }}</td>
                            <td>{{ xb.email }}</td>
                            <td>{{ xb.company }}</td>
                            <td>{{ xb.status }}</td>
                        </tr>
                        <tr>
                            <td colspan="4" class="hiddenRow">
                                <div class="accordian-body collapse" 
                                    [ngbCollapse]="isCollapsed(idx)">
                                    Edit
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </tbody>
            </table>
        </md-card>
    </div>
</div>