<div class="container-fluid fill-height">
    <div class="profile-banner-bg"></div>
    <div class="col-md-12 banner-text">
        <h3> Conference Map - [Conference] </h3>
    </div>
    <div class="col-md-12 description-field">
        <p>Conference maps help attendees navigate booths and reach destinations faster. Upload a floor plan or map here for users to view within the mobileapp</p>
    </div>
    <button md-button color="primary">
        Upload Image
    </button>
    <button md-button color="warn">
        Remove Current Image
    </button>
    <div class="padded">
        <md-card>
            <div class="placeholder-image"></div>
        </md-card>
    </div>

</div>