<ng-template #modalContent let-close="close">
    <div class="modal-header">
        <h5 class="modal-title">Event action occurred</h5>
        <button type="button" class="close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div>
            Action:
            <pre>{{ modalData?.action }}</pre>
        </div>
        <div>
            Event:
            <pre>{{ modalData?.event | json }}</pre>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="close()">OK</button>
    </div>
</ng-template>

<div class="container-fluid fill-height">
    <div class="profile-banner-bg"></div>
    <div class="col-md-12 banner-text">
        <h3> Conference schedule - [Conference] </h3>
    </div>
    <div class="col-md-12 no-pad">
        <md-card>
            <div class="description-field">
                <p>Add all scheduled conference events here, attendees will use this information to plan their day and attend events.</p>
            </div>
        </md-card>
    </div>
    <div class="col-md-12 no-pad table-view">
        <md-card>
            <div class="col-md-4">
                <div class="btn btn-default"
                    mwlCalendarPreviousView
                    [view]="view"
                    [(viewDate)]="viewDate">
                    Previous
                </div>
                <div class="btn btn-default"
                    mwlCalendarToday
                    [(viewDate)]="viewDate">
                    Today
                </div>
                <div class="btn btn-default"
                    mwlCalendarNextView
                    [view]="view"
                    [(viewDate)]="viewDate">
                    Next
                </div>
            </div>
            <div class="col-md-4">
                <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
            </div>
            <div class="col-md-4">
                <div class="btn-group">
                    <div
                        class="btn btn-primary"
                        (click)="view = 'week'"
                        [class.active]="view === 'week'">
                        Week
                    </div>
                    <div
                        class="btn btn-primary"
                        (click)="view = 'day'"
                        [class.active]="view === 'day'">
                        Day
                    </div>
                </div>
            </div>
            <div class="col-md-12 line-break"></div>
            <br>
            <div [ngSwitch]="view">
                <mwl-calendar-week-view
                    *ngSwitchCase="'week'"
                    [viewDate]="viewDate"
                    [events]="events"
                    [refresh]="refresh"
                    (eventClicked)="handleEvent('Clicked', $event.event)"
                    (eventTimesChanged)="eventTimesChanged($event)">
                </mwl-calendar-week-view>
                <mwl-calendar-day-view
                    *ngSwitchCase="'day'"
                    [hourSegments]="6"
                    [dayStartHour]="7"
                    [dayEndHour]="18"
                    [viewDate]="viewDate"
                    [events]="events"
                    [refresh]="refresh"
                    (eventClicked)="handleEvent('Clicked', $event.event)"
                    (eventTimesChanged)="eventTimesChanged($event)">
                </mwl-calendar-day-view>
            </div>

            <div class="col-md-12 line-break"></div>

            <h3 id="edit-event-label" (click)="showEdit=!showEdit">
                Edit events <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </h3>
            <button
                md-button color="primary"
                class="pull-right add-new-button"
                (click)="addEvent()">
                Add new
            </button>

            <table class="event-editor-table" *ngIf="showEdit" [@enterAnimation]="showEdit">

                <thead>
                    <tr>
                    <th>Title</th>
                    <th>Color</th>
                    <th>Starts at</th>
                    <th>Ends at</th>
                    <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let event of events; let index = index">
                    <td class="title-col">
                        <md-input-container>
                            <input
                            mdInput
                            [(ngModel)]="event.title"
                            (keyup)="refresh.next()">
                        </md-input-container>
                    </td>
                    <td class="scolor-col">
                        <input
                        type="color"
                        [(ngModel)]="event.color.secondary"
                        (change)="refresh.next()">
                    </td>
                    <td class="btime-col">
                        <div class="lets-see">
                        <mwl-utils-date-time-picker
                        [(date)]="event.start"
                        (dateChange)="refresh.next()"
                        placeholder="Not set">
                        </mwl-utils-date-time-picker>
                        </div>
                    </td>
                    <td class="etime-col">
                        <mwl-utils-date-time-picker
                        [(date)]="event.end"
                        (dateChange)="refresh.next()"
                        placeholder="Not set">
                        </mwl-utils-date-time-picker>
                    </td>
                    <td class="del-col">
                        <i class="fa fa-trash" (click)="events.splice(index, 1); refresh.next()" aria-hidden="true">
                        </i>
                    </td>
                    </tr>
                </tbody>

            </table>
        </md-card>
    </div>
</div>