<div class="overlay-header">
    <div class="container-fluid">
        <h1 [routerLink]="''">
            Convention Logistics Tracker
        </h1>
    </div>
</div>
<div id="profile-wrapper">
    <div class="content-view">
        <div class="container-fluid">
            <div id="nav">
                <div class="nav-content">
                    <div class="nav-item" [routerLink]="'basic'" [routerLinkActive]="['active-nav']">
                        <div class="text">
                        <span class="glyphicon glyphicon-cog"></span>
                        Basic Settings
                        </div>
                    </div>
                    <div class="nav-item" [routerLink]="'map'" [routerLinkActive]="['active-nav']">
                        <span class="glyphicon glyphicon-map-marker"></span>
                        Floor Plan
                    </div>
                    <div class="nav-item" [routerLink]="'exhibitors'" [routerLinkActive]="['active-nav']">
                        <span class="glyphicon glyphicon-user"></span>
                        Exhibitors
                    </div>
                    <div class="nav-item" [routerLink]="'schedule'" [routerLinkActive]="['active-nav']">
                        <span class="glyphicon glyphicon-calendar"></span>
                        Schedule
                    </div>
                    <div class="nav-item" [routerLink]="'news'" [routerLinkActive]="['active-nav']">
                        <span class="glyphicon glyphicon-inbox"></span>
                        News
                    </div>
                    <div class="nav-item" [routerLink]="'notify'">
                        <span class="glyphicon glyphicon-comment"></span>
                        Push Notifications
                    </div>
                </div>
            </div>
            
            <div id="primary">
                <!--<md-card>-->
                    <router-outlet></router-outlet>
                <!--</md-card>-->
            </div>
            
        </div>
    </div>
</div>