@import 'shared.scss';
.fill-height {
    overflow-x: hidden;
}
.col-md-4 {
    text-align: center;
}
h3 {
    color: #1b1b1b;
}
.line-break {
    border-bottom: 1px solid #1b1b1b;
    padding: 0 10px;
    margin: 20px 0;
    height: 1px;
    width: 100%;
    position: relative;
}
button {
    color: #1b1b1b !important;
}
.overflow {
    overflow-x: scroll;
}
.event-editor-table {
  margin-top: 10px;
  border: 1px solid #eceeef;
  width: 1200px;
}

.event-editor-table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #eceeef;
  color: #1b1b1b;
}

.event-editor-table th,
.event-editor-table td {
  padding: .75rem;
  vertical-align: top;
}

.event-editor-table td {
    color: #1b1b1b !important;
    border: 1px solid #eceeef;
    text-align: center;
}
/deep/ form {
    margin: 0 !important;
}
/deep/ .form-control {
    border: 1px solid #1b1b1b !important;
    color: #1b1b1b !important;
}
/deep/ .btn-link {
    color: #337ab7 !important;
}
/deep/ .btn-outline-primary {
    color: #337ab7 !important;
    border-color: #337ab7;
}

