<div class="container-fluid fill-height">
    <div class="profile-banner-bg"></div>
    <div class="col-md-12 banner-text">
        <h3> Conference Map - [Conference] </h3>
    </div>
    <div class="col-md-12 no-pad">
        <md-card>
            <div class="description-field">
                <p>Conference maps help attendees navigate booths and reach destinations faster. Upload a floor plan or map here for users to view within the mobileapp</p>
            </div>
        </md-card>
    </div>
    <div class="col-md-12 no-pad" style="margin-top: 10px;">
    <div class="btn btn-default upload-overlay">
        UPLOAD IMAGE
        <input id="uploader-input" 
        type="file" 
        ng2FileSelect 
        [uploader]="uploader"
        (change)="uploader.uploadAll()"/>
    </div>
    <button md-button color="warn" style="background-color: white;" (click)="removeCurrImage()">
        Remove Current Image
    </button>
    </div>
    <div class="col-md-12 no-pad">
    <div class="padded">
        <md-card>
            <img [src]="imgUrl" [ngClass]="{'empty': imgUrl === ''}" class="placeholder-image"/>
        </md-card>
    </div>
    </div>

</div>