@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
div {
    font-family: 'Liberation Sans';
}
p, input, span {
    font-family: 'Roboto Mono', sans-serif;
}
.no-pad {
    padding: 0;
}
.profile-banner-bg {
    position: absolute;
    top: 0;
    left: 0;        
    height: 50px;
    background-color: #033849;
    width: 100%;
}
.banner-text {
    h3 {
        line-height: 50px;
        color: #fff;
        text-align: center;
        font-size: 16px;
        margin-bottom: 5px;
    }
}
.description-field {
    //height: 30px;
    margin-bottom: 5px;
    font-size: 12px;
    color: #1b1b1b;

    p {
        margin: 0;
    }
}
button {
    color: #1b1b1b !important;
    border: 1px solid #1b1b1b;
    padding: 10px 20px;
    background-color: white;
}
table {
    td {
        font-size: 16px;
    }
}
.upload-overlay {
    position: relative;
    overflow: hidden;
    border-radius: 2px;
    border: 1px solid black;
    padding: 10px 10px;
    padding-top: 11px;
    letter-spacing: 1.4px;

    #uploader-input {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        height: 100%;
        cursor: pointer !important;
        opacity: 0;
        filter: alpha(opacity=0);
    }
}