<div id="page-wrapper">

  <!-- Header -->
  <header id="header" class="alt">
    <h1><a href="">CLTracker</a></h1>
    <nav>
      <a href="#menu">Menu</a>
    </nav>
  </header>

  <!-- Menu -->
  <nav id="menu">
    <div class="inner">
      <h2>Menu</h2>
      <ul class="links">
        <li><a href="">Home</a></li>
        <li><a href="">Conventions</a></li>
        <li *ngIf="!auth.authenticated()" ><a (click)="auth.loginOrganizer()">Organizer Log In/Sign Up</a></li>
        <li *ngIf="!auth.authenticated()" ><a (click)="auth.loginExhibitor()">Exhibitor Log In/Sign Up</a></li>
        <li *ngIf="auth.authenticated()" ><a (click)="gotoProfile()">Profile</a></li>
        <li *ngIf="auth.authenticated()" ><a (click)="auth.logout()">Log Out</a></li>
      </ul>
      <a href="#" class="close">Close</a>
    </div>
  </nav>

  <md-spinner *ngIf="loading" id="spinner"></md-spinner>

  <!-- Content -->
  <router-outlet></router-outlet>

</div>
 
