<!-- Banner -->
<section id="banner">
<div class="inner">
  <div class="logo"><img src="img/logo.png"></div>
  <h2>Convention Logistics Tracker</h2>
  <p>Changing the Conference Experience</p>
</div>
</section>

<!-- Wrapper -->
<section id="wrapper">

<!-- One -->
  <section id="one" class="wrapper spotlight style1">
    <div class="inner">
      <a href="#" class="image"><img src="img/convention.jpg" /></a>
      <div class="content">
        <h2 class="major">The Problem</h2>
        <p>Convention planning requires exceedingly large amounts of time, labor, and money; for a city such as Las Vegas, conventions produce a sizeable amount of revenue.  According to IBIS World report on Trade Show and Conference Planning, the planning industry generates $14 billion in revenue where technology will play a key role in the growth of this industry. In order to plan and oversee a large convention such as CES or CONEXPO-CON/AGG takes the better part of a year to secure a site, organize exhibitors and contact speakers to host seminars.</p>
      </div>
    </div>
  </section>

<!-- Two -->
  <section id="two" class="wrapper alt spotlight style2">
    <div class="inner">
      <a href="#" class="image"><img src="img/paper.jpeg" alt="" /></a>
      <div class="content">
        <h2 class="major">What's out there?</h2>
        <p>A paper map is the current standard, but comes at a hefty cost for the event organizer. Using paper maps is a cumbersome experience for large conventions. An alternative option consists of mobile applications with possibly spotty performance during larger conventions. Additionally, these applications often take considerable development hours to produce and are not reusable solutions across different conferences.</p>
        <a routerLink="/currentsolutions" routerLinkActive="active" class="special">Learn more</a>
      </div>
    </div>
  </section>

<!-- Three -->
  <section id="three" class="wrapper spotlight style3">
      <div class="inner">
          <p></p>
          <img src="img/mobile_web.png" alt="" style="width:300px;height:450px">
          <div class="content">
              <h2 class="major">The CLT Suite</h2>
              <p>Convention Logistics Tracker (CLT) aims to simplify the convention planning process; this software suite will offer programs aimed at convention organizers, exhibitors and attendees. Convention organizers will have control over exhibitor actions, the ability to adjust pricing & mapping, and scheduling. Exhibitors will be able to edit their company information through the Exhibitor Portal, plan out schedules for speakers & demonstrations, and send out real-time event updates. Attendees will have the ability to view information about various aspects about the convention including exhibitor booths, event schedules, and navigation around the convention grounds.</p>
          </div>
      </div>
 
  </section>

<!-- Four -->
  <section id="four" class="wrapper alt style1">
    <div class="inner">
      <h2 class="major">Features of CLT</h2>
        <!--<p>Cras mattis ante fermentum, malesuada neque vitae, eleifend erat. Phasellus non pulvinar era</p>-->
      <section class="features">
        <article>
          <a href="img/pc_4.png" class="image"><img src="img/pc_4.png" alt=""/></a>
          <h3 class="major">Organizer Portal</h3>
          <p>Separate web portal for organizers to manage mobile app announcements, vendor information, and other event logistics.</p>
          <!--<a href="#" class="special">Learn more</a>-->
        </article>
        <article>
          <a href="img/pc_2.png" class="image"><img src="img/pc_2.png" alt="" /></a>
          <h3 class="major">Exhibitor Portal</h3>
          <p>Separate web portal for exhibitors to register for your conference with your special key. Exhibitors can schedule announcements to all attendees and post a schedule. </p>
          <!--<a href="#" class="special">Learn more</a>-->
        </article>
        <article>
          <a href="img/pc_3.png" class="image"><img src="img/pc_3.png" alt="" /></a>
          <h3 class="major">Consumer App</h3>
          <p>Attendees can download your customizable mobile app where attendees can access the official map, receive announcements, and set a schedule.</p>
          <!--<a href="#" class="special">Learn more</a>-->
        </article>
        <article>
          <a href="img/pc_5.png" class="image"><img src="img/pc_5.png" alt="" /></a>
          <h3 class="major">Consumer Focus</h3>
          <p>CLT Suite Mobile App is focused on your attendees' experience to be enhanced by your awesome conference. The Mobile App allows push notifications by organiers and exhibitors, and real time updates to the mobile app. </p>
          <!--<a href="#" class="special">Learn more</a>-->
        </article>
      </section>
       <ul class="actions">
        <li><a routerLink="/industry" routerLinkActive="active" class="button">See More</a></li>
      </ul> 
    </div>
  </section>

  <!-- Footer -->
  <section id="footer">
    <div class="inner">
      <h2 class="major">Get in touch</h2>
      <p>Have questions or would like to request a demo? Reach out to us below.</p>
      <form method="post" action="#">
        <div class="field">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" />
        </div>
        <div class="field">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" />
        </div>
        <div class="field">
          <label for="message">Message</label>
          <textarea name="message" id="message" rows="4"></textarea>
        </div>
        <ul class="actions">
          <li><input type="submit" value="Send Message" /></li>
        </ul>
      </form>
      <ul class="contact">
        <li class="fa-home">
          Convention Logistics Tracker<br />
          4505 S. Maryland Pkwy<br />
          Las Vegas, NV 89154
        </li>
        <!--<li class="fa-phone">(000) 000-0000</li>-->
        <li class="fa-envelope"><a href="mailto:conventionlogisticstracker@gmail.com">conventionlogisticstracker@gmail.com</a></li>
        <!--<li class="fa-twitter"><a href="#">twitter.com/untitled-tld</a></li>
        <li class="fa-facebook"><a href="#">facebook.com/untitled-tld</a></li>
        <li class="fa-instagram"><a href="#">instagram.com/untitled-tld</a></li>-->
      </ul>
      <ul class="copyright">
        <li>&copy; CLT Inc. All rights reserved.</li><li>Template: <a href="http://html5up.net">HTML5 UP</a></li>
      </ul>
    </div>
  </section>

</section>