<!-- <h1>Not logged in!</h1>-->
<br><br><br>
<section id="two" class="wrapper alt spotlight style2">
    <div class="inner">
        <a href="#" class="image"><img src="img/logobw.jpg" alt="" /></a>
        <div class="content">
            <font size="7">Oops!</font>
            <p>It seems that you are not logged in or have not registered. Please click on the following link that matches your description.</p>
                <button><a (click)="auth.loginOrganizer()">Organizer Log In/Sign Up</a></button>
                <br><br />
                <button><a (click)="auth.loginExhibitor()">Exhibitor Log In/Sign Up</a></button>
        </div>
    </div>
</section>