<!-- One -->
<section id="one" class="wrapper spotlight style1">
    <div class="inner">
        <img src="img/trees.png" alt="" style="width:260px;height:200px;" />
        <div class="content">
            <h2 class="major">The Paper Crisis</h2>
            <p>Conferences can spend a lot of money to print maps, agendas, marketing materials, and brochures. Imagine a tradeshow for 500 people. According to a study by <a href="https://www.ecu.edu/cs-acad/sustainabletourism/upload/Reducing-Paper-Waste-at-Conferences.pdf">North Central Carolina University</a>, over <strong>170 trees</strong> could be consumed. This amounts to <strong>200 pounds</strong> of wood and over <strong>$750</strong> in printing costs.</p>
        </div>
    </div>
</section>

<!-- Two -->
<section id="two" class="wrapper alt spotlight style2">
    <div class="inner">
        <img src="img/paperstack.png" alt="" style="width:260px;height:200px;"/>
        <div class="content">
            <h2 class="major">Too Much Paper</h2>
            <p>According to the same study by North Central Carolina University, attendees from the same tradeshow can end up carrying <strong>10 pounds</strong> of paper. With so much paper, the message of exhibitors and organizers can become lost and end up in the trash can. </p>
        </div>
    </div>
</section>

<!-- Three -->
<section id="three" class="wrapper spotlight style3">
    <div class="inner">
        <p></p>
        <img src="img/sadface.png" alt="" style="width:260px;height:200px">
        <div class="content">
            <h2 class="major">Custoemr Disatisfaction</h2>
            <p>There are about 300 different mobile event conference apps. Each provide various features, but after collecting negative reviews of competitors, the most common words used are <strong>slow, poor user interface, and unreliable</strong>.</p>
        </div>
    </div>

</section>
