<md-sidenav-container class="example-container">
<div id="header">
    <i class="fa fa-bars" aria-hidden="true" (click)="sidenav.open()"></i>
</div>
<md-sidenav #sidenav class="example-sidenav">
    <div class="bg">
        <div class="col-md-12" style="padding: 0;">
            <img src="/img/logo.png">
            <p>Convention Logistics Tracker</p>
        </div>
    </div>
    <div class="col-md-12 list-view">
        <p (click)="sidenav.close()" [routerLink]="['news']" [routerLinkActive]="['active']"><i class="fa fa-home" style="margin-right: 8px;" aria-hidden="true"></i>Home</p>
        <p (click)="sidenav.close()" [routerLink]="['exhibitors']" [routerLinkActive]="['active']"><i class="fa fa-users" style="margin-right: 8px;" aria-hidden="true"></i>Exhibitors</p>
        <p (click)="sidenav.close()" [routerLink]="['map']" [routerLinkActive]="['active']"><i class="fa fa-map" style="margin-right: 8px;" aria-hidden="true"></i>Map</p>
        <p (click)="sidenav.close()" [routerLink]="['schedule']" [routerLinkActive]="['active']"><i class="fa fa-list-alt" style="margin-right: 8px;" aria-hidden="true"></i>Schedule</p>
    </div>
</md-sidenav>
<router-outlet></router-outlet>
</md-sidenav-container>