#title {
    position: absolute;
    z-index: 2999990;
    color: #fff;
    margin-left: 55px;
    margin-top: 12px;
}
#header {
    background-color: #25B5B1;
    .fa-bars {
        display: inline-block;
    }
    h4 {
        display: inline-block;
        margin: 0;
        margin-left: 30px;
    }
}
.bg {
    height: 50px;
    background-image: url("/img/bg.jpg");
    background-size: cover;
    img {
        display: inline-block;
        width: 50px;
        height: 50px;
    }
    p {
        position: absolute;
        display: inline-block;
        color: #1b1b1b;
        font-weight: bold;
        font-size: 12px;
        margin-top: 20px;
        margin-left: 5px;
    }
}
.active {
    background-color: #E5E5E5;
}
md-sidenav {
    width: 250px;
}
.list-view {
    transform: scale(2, 2);
    zoom: 0.5;
    margin-top: 180px;
    margin-left: 110px;
    font-size: 1em;
    overflow: hidden;

    @media screen and (max-width: 400px) {

    }

    p {
        padding-left: 20px;
        padding-right: 9px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 50px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
    }
}
/deep/ header {
    display: none;
}
md-sidenav-container {
    background-color: #e5e5e5;
    min-height: 100%;
}
/deep/ body {
    background-color: #e5e5e5;
    background-image: none;
}