#header {
    background-color: #25B5B1;
    .fa-bars {
        display: inline-block;
    }
    h4 {
        display: inline-block;
        margin: 0;
        margin-left: 30px;
    }
}
.active {
    background-color: #E5E5E5;
}
md-sidenav {
    width: 200px;
}
.list-view {
    transform: scale(2, 2);
    zoom: 0.5;
    margin-top: 230px;
    margin-left: 45px;
    overflow: hidden;

    p {
        padding-left: 20px;
        padding-right: 9px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 50px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
    }
}
/deep/ header {
    display: none;
}
/deep/ body {
    background-color: #E5E5E5;
    background-image: none;
}