<md-sidenav-container class="example-container">
<div id="header">
        <i class="fa fa-bars" aria-hidden="true" (click)="sidenav.open()"></i>
    <h4>News View</h4>
</div>
<md-sidenav #sidenav class="example-sidenav">
    <div class="col-md-12 list-view">
        <p (click)="sidenav.close()" [routerLink]="['news']" [routerLinkActive]="['active']">News</p>
        <p (click)="sidenav.close()" [routerLink]="['exhibitors']" [routerLinkActive]="['active']">Exhibitors</p>
        <p (click)="sidenav.close()" [routerLink]="['map']" [routerLinkActive]="['active']">Convention Map</p>
        <p (click)="sidenav.close()" [routerLink]="['schedule']" [routerLinkActive]="['active']">Schedule</p>
    </div>
</md-sidenav>
<router-outlet></router-outlet>
</md-sidenav-container>