#profile-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    background: _palette(bg);
    height: 100%;
    width: 100%;
}

md-card {
    height: 100%;
    padding: 0;
}

.content-view {
    height: 100%;
    padding-bottom: 50px;
    padding-top: 25px;
    background-color: #E5E5E5;

    .container-fluid {
        height: 100%;   
    }

    #nav {
        height: 100%;
    }

    #primary {
        height: 100%;
    }
}

.fill {
    min-height: 100%;
    background-color: white;
}

h1 {
    line-height: 60px;
}

/* angular2 directive to make css property extend beyond scope */
/deep/ #header {
    position: relative !important;
    top: 10px;
    left: 0;
}