.margined {
    margin-left: 25px;
    margin-right: 25px;
}
.centered {
    text-align: center;
}
div {
    background-color: white;

    p {
        color: black;
        background-color: grey;
    }

}