.fill-height {
    height: 100%;
    background-color: white;
}
.profile-banner-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    background-color: #CCCCCC;
    width: 100%;
}
.banner-text {
    h3 {
        line-height: 60px;
        color: black;
        text-align: center;
    }
}
md-grid-list {
    margin-top: 70px;
    height: calc(100% - 80px);
}
md-grid-tile {
    p {
        color: black;
    }
    .padded {
        padding: 10px;
        width: 100%;
        height: 100%;
    }
    md-card {
        width: 100%;
        height: 100%;
        background-color: #fff;
    }
}
