<div id="profile-wrapper">
    <div class="container-fluid">
        <h1>Convention Logistics Tracker</h1>
    </div>
    <div class="content-view">
        <div class="container-fluid">
            
            <div class="col-md-3" id="nav">
                <md-card>
                    <div class="fill">
                    </div>
                </md-card>
            </div>
            
            
            <div class="col-md-9" id="primary">
                <md-card>
                    <router-outlet></router-outlet>
                </md-card>
            </div>
            
        </div>
    </div>
</div>