<div class="container-fluid fill-height">
    <div class="profile-banner-bg"></div>
    <div class="col-md-12 banner-text">
        <h3> Basic Settings - [Conference] </h3>
    </div>
    <md-grid-list cols="2" rowHeight="fit">
        <md-grid-tile colspan="2">
            <div class="padded">
                <md-card>
                    <p>Edit some settings</p>
                </md-card>
            </div>
        </md-grid-tile>
        <md-grid-tile>
            <div class="padded">
                <md-card>
                    <p>more settings</p>
                </md-card>
            </div>
        </md-grid-tile>
        <md-grid-tile>
            <div class="padded">
                <md-card>
                    <p>stuuuuuf</p>
                </md-card>
            </div>
        </md-grid-tile>
    </md-grid-list>
</div>