<div id="profile-wrapper">
    <div class="container-fluid">
        <h1>Convention Logistics Tracker</h1>
    </div>
    <div class="content-view">
        <div class="container-fluid">
            
            <div class="col-md-3" id="nav">
                <md-card>
                    <div class="nav-content">
                        <button md-button>
                            Basic Settings
                        </button>
                        <button md-button>
                            Floor Plan
                        </button>
                        <button md-button>
                            Exhibitors
                        </button>
                        <button md-button>
                            Schedule
                        </button>
                        <button md-button>
                            News
                        </button>
                        <button md-button>
                            Push Notifications
                        </button>
                        <button md-button>
                            Billing
                        </button>
                    </div>
                </md-card>
            </div>
            
            <div class="col-md-9" id="primary">
                <md-card>
                    <router-outlet></router-outlet>
                </md-card>
            </div>
            
        </div>
    </div>
</div>