<div class="join-wrapper">
    <div class="no-overlap-menu">
        <div class="container-fluid">
            <div class="profile-banner-bg"></div>
            <h1 [routerLink]="''" id="header-logo-text">
                    Convention Logistics Tracker
            </h1>
        </div>
    </div>
    <div id="join-content">
        <md-card>
            <h3>Sign in to your conference</h3>
            <p>Enter your <strong>conference ID</strong></p>
            <md-input-container>
                <input mdInput 
                    placeholder="organization"
                    [(ngModel)]="org">
            </md-input-container>
            <button md-button color="primary" (click)="joinOrg()">
                Enter
            </button>
            <span><a id="forgot-id"><em>Don't know your conference ID?</em></a></span>
        </md-card>
    </div>
</div>
