<section id="two" class="wrapper alt spotlight style2">
    <div class="inner">
        
        <div class="content">
            <h2 class="major">How We Match Up To Competitors</h2>
            <p style="text-align:left">After researching our major competitors and collecting customer feedback on their products, CLT suite is aimed to address the major issues of reliability while providing valuable features for consumers. Major features of our products include:</p>
            <ul style="text-align:left">
                <li>More features for exhibitors to market themselves resulting in a stronger ROI and exhibitor satisfaction.</li>
                <li>Scalable software suite to meet organizer accomodations and objectives.</li>
                <li>Announcements by organizers and exhibitors more visible to attendees.</li>
                <li>Reusable and configurable suite to suit multiple conventions.</li>
            </ul>
            <p style="text-align: left">See below for our product comparison.</p>
            <img src="img/CLT_product_compare.png" alt="" />
        </div>
    </div>
</section>
