<ng-template #modalContent let-close="close">
    <div class="modal-header">
        <h2 class="modal-title">Create news item</h2>
        <button type="button" class="close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="text-description">
            <p *ngIf="!isEditItem">
                To create a news item, fill out all boxes in <span style="color: red; font-weight: bold;">red</span> and upload an image, then
                click <em>submit</em> at the bottom.
            </p>
            <p *ngIf="isEditItem">
                To save changes, edit the body and author then hit <em>submit</em>. <strong style="color: #1b1b1b;">Note</strong> that the title cannot be changed, each event is
                unique.
            </p>
            <hr/>
        </div>
        <div class="col-md-12 news-item no-pad">
            <md-card>
                <div class="edit-bar pull-right">
                    <span id="edit">Edit</span>
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-primary logo upload-overlay">
                        Upload
                        <input id="uploader-input"
                        type="file"
                        ng2FileSelect
                        [uploader]="uploader"
                        (change)="uploader.uploadAll()"/>
                    </button>
                </div>
                <div class="col-md-9">
                    <h3 style="padding-right: 65px;">
                        <input [(ngModel)]="newsItemTitle"
                            [ngClass]="{'red': highlightTitle}" [disabled]="isEditItem"/>
                    </h3>
                    <div class="line-break"></div>
                    <p>
                        <textarea [(ngModel)]="newsItemText" [ngClass]="{'red': highlightText}"></textarea>
                    </p>
                </div>
                <p class="author">  
                    <input [(ngModel)]="newsItemAuthor" [ngClass]="{'red': highlightAuthor}"/>
                </p>
            </md-card>
        </div>
    </div>
    <div class="modal-footer">
        <p *ngIf="errorLabel !== ''" class="error-label">{{ errorLabel }}</p>
        <button id="submit" type="button" class="btn btn-secondary" (click)="submitNewsItem(close)">Submit</button>
    </div>
</ng-template>

<div class="container-fluid fill-height">
    <div class="profile-banner-bg"></div>
    <div class="col-md-12 banner-text">
        <h3> Exhibitor Settings - [Conference] </h3>
    </div>
    <md-grid-list cols="2" rowHeight="fit">
        <md-grid-tile>
            <div class="padded">
                <md-card>
                    <div class="crow">
                        <div class="col-md-5">
                            <h3>Company Name</h3>
                        </div>
                        <div class="col-md-7">
                            <md-input-container>
                                <input mdInput [(ngModel)]="company">
                            </md-input-container>
                        </div>
                    </div>
                    <div class="crow">
                        <div class="col-md-5">
                            <h3>Name</h3>
                        </div>
                        <div class="col-md-7">
                            <md-input-container>
                                <input mdInput [(ngModel)]="name">
                            </md-input-container>
                        </div>
                    </div>
                    <div class="crow">
                        <div class="col-md-12">
                            <h3>Biography</h3>
                        </div>
                    </div>
                    <div class="crow">
                        <div class="col-md-12">
                            <textarea [(ngModel)]="bio"></textarea>
                        </div>
                    </div>
                </md-card>
            </div>
        </md-grid-tile>
        <md-grid-tile>
            <div class="padded">
                <md-card>
                    <div class="crow">
                        <div class="col-md-3">
                            <h3>Logo</h3>
                        </div>
                        <div class="col-md-9">
                            <div class="btn btn-default upload-overlay">
                                UPLOAD
                                <input id="uploader-input" 
                                type="file" 
                                ng2FileSelect 
                                [uploader]="uploader"
                                (change)="uploader.uploadAll()"/>
                            </div>
                        </div>
                    </div>
                    <div class="crow" style="text-align: center;    ">
                        <img *ngIf="imgUrl !== ''" id="logo-preview"
                        [src]="imgUrl">
                        <img *ngIf="imgUrl === ''" id="logo-preview" 
                        src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Logo&w=150&h=150"/>
                    </div>
                </md-card>
            </div>
        </md-grid-tile>
    </md-grid-list>
    <div class="col-md-12 tool-bar no-pad">
        <button md-button color="primary" (click)="openNewsPrompt()">
            Create News Item
        </button>
        <button md-button color="primary" (click)="saveContent()">
            Save
        </button>
    </div>
    <div *ngIf="!news" class="fill col-md-12">
        <p>No News items yet...</p>
    </div>
    <div class="grey-bg" style="position: absolute; height: 300px; background-color: grey;"></div>
    <div class="col-md-12 news-item no-pad" *ngFor="let item of news">
    <md-card>
        <div class="edit-bar pull-right">
            <span id="edit" (click)="editNewsPrompt(item)">Edit</span>
            <i class="fa fa-trash" aria-hidden="true" (click)="deleteItem(item)"></i>
        </div>
        <div class="col-md-3">
            <div class="logo">
                <img src="{{item.logo_url}}"/>
            </div>
        </div>
        <div class="col-md-9">
            <h3>{{ item.title }}</h3>
            <div class="line-break"></div>
            <p>{{ item.text }}</p>
        </div>
        <p class="author">{{ item.author }}</p>
    </md-card>
    </div>
</div>