h1 {
    line-height: 70px;
    margin: 0;
    cursor: pointer;
}
button {
    /* override material style of color: #fff */
    color: black !important;
}
#profile-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    background: _palette(bg);
    height: 100%;
    width: 100%;
    z-index: 10;
}
md-card {
    height: 100%;
    padding: 0;
}
.content-view {
    height: 100%;
    padding-bottom: 50px;
    padding-top: 25px;
    background-color: #E5E5E5;
    .container-fluid {
        height: 100%;   
    }
}
#nav {
    height: 100%;
    .nav-content {
        min-height: 100%;
        background-color: white;

        button {
            width: 100%;
            border-bottom: 1px solid grey;
        }
    }
}
#primary {
    height: 100%;
}

/* angular2 directive to make css property extend beyond scope */
/deep/ #header {
    position: relative !important;
    top: 5px;
    left: 0;
    z-index: 2;
}